@using Blazor.UI.Data.ModelViews.Theater
@using Blazor.UI.Data.services.TheatherService

@inject IComplexeService ServComp;
<h3>AddComplexe</h3>
@if (MyAddComplexe != null)
{
    <form>
        <div class=" form-group mb-3">
            <label class="form-label" for="name">Name:</label>
            <input class="form-control" id="name" @bind="AddedComplexe .Name" />

            <label class="form-label" for="description">Description:</label>
            <input class="form-control" id="description" @bind="AddedComplexe .Description" />

            <label class="form-label" for="address">Address:</label>
            <input class="form-control" id="address" @bind="AddedComplexe .Adress" />

            <!-- Add other input fields based on your UpdateComplexeDto properties -->

            <button type="button" class="btn btn-warning" @onclick="MyAddComplexe">Update Complexe</button>
        </div>
    </form>
}
else
{
    <Blazor.UI.Client.Shared.Load loadParam="No Complexe provided"></Blazor.UI.Client.Shared.Load>
}
@code {
    public AddComplexeDto AddedComplexe { get; set; } = new AddComplexeDto();

    public void MyAddComplexe()
    {
        AddComplexeDto UpdtoDate = new AddComplexeDto
            {
               
                Name = AddedComplexe.Name,
                Adress = AddedComplexe.Adress,
                Description = AddedComplexe.Description,
                
            };
        ServComp.Create(UpdtoDate);

    }
}