@using Blazor.UI.Data.modelViews.Theater
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@* Client/Shared/AccessControl.razor *@
@inject NavigationManager Navigation;
@inject SignOutSessionStateManager SignOutManager;

<AuthorizeView>
    <Authorized>
        <p>Hello, @context?.User?.Identity?.Name
        @if (@context?.User?.Identity?.Name! == null)
        {
            @context?.User.Claims.FirstOrDefault(c => c.Type == "given_name")?.Value;
        }</p>
        <a class="nav-link" href="profileViewer"
            <img class="img-fluid border rounded" style="height:50px; width:50px" src="@context?.User.Claims.FirstOrDefault(c => c.Type == "picture")?.Value" />
        </a>
        <a href="#" @onclick="BeginSignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {

    public UserView? Userlog { get; set; }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
     
      
        
    }
}