@using Blazor.UI.Data.ModelViews.Theater
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims
@* Client/Shared/AccessControl.razor *@
@inject NavigationManager Navigation;
@inject SignOutSessionStateManager SignOutManager;

<AuthorizeView>
    <Authorized>
        <p>Hello, @context?.User?.Identity?.Name</p>
        @if (@context?.User?.Identity?.Name! == null)
        {
            <p><span>@context?.User.Claims.FirstOrDefault(c => c.Type == "given_name")?.Value</span></p>
        

        }
        <a class="nav-link" href="profileViewer"
            <img class="img-fluid border rounded" style="height:50px; width:50px" src="@context?.User.Claims.FirstOrDefault(c => c.Type == "picture")?.Value" />
        </a>
        <a class="me-1 pe-1" href="#" @onclick="BeginSignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {

    public UserView? Userlog { get; set; }
    private List<Claim>? claims { get; set; }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
          
    }
}