@* Client/Shared/MainLayout.razor *@
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar bg-dark">
        <NavMenu />
    </div>

    <main class="float-none">
        <div class="top-row px-4">
             <AccessControl />   
             <p> / </p>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>
      
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<div class="bottom-100">
    <FooterComponent></FooterComponent>
</div>
