<div class="failed">
    <div class="container">
        <div class=" m-2 p-2">
            <h3 class="">404</h3>
            <p role="alert">Sorry, there's nothing at this address.</p>
            <p>Are you lost buddy ???</p>
        </div>
    </div>
</div>
@code {

}
