@page "/publication/{Id}"
@using Blazor.UI.Client.Page.publication.Post
@using Blazor.UI.Data.ServiceResult
@using Blazor.UI.Data.ModelViews.Publication
@using Blazor.UI.Data.ModelViews.Theater
@using Blazor.UI.Data.services.Publication
@using Blazor.UI.Data.services.TheatherService
@using Blazor.UI.data.services.Publication

@inject IPublicationService publicationService;
@inject IPieceService pieceService;
@inject IPostService postService;
<PageTitle>Post</PageTitle>

    @if (GetPublication != null)
    {
            @if (DoIWriteAPost)
            {     
               <AddPostComponent Id="@Id" OnClose="CloseDialogBox"></AddPostComponent>
            }
            else
            {
                   
            }
        <div class="row featurette shadow">
            <div class="col-md-5">
            <section class="m-1 p-1">
                <div class="btn-group float-end">
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            
                            <li><a class="dropdown-item" @onclick="WriteAPost">Repondre </a></li>
                            <li><a class="dropdown-item" @onclick="RemovePostFromView"> replier </a></li>
                        </ul>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-5">
                        <GetUserComponent UserId="@GetPublication.UserId"></GetUserComponent>
                    </div>
                    <div class="col-md-7">
                        <h3 class="p-2"><strong>Titre </strong>@GetPublication?.Title</h3>
                        <div class="card-body">
                            <p class="card-text p-2"><strong>Article </strong>@GetPublication?.Review</p>
                            <p class="card-text p-2 bottom"><strong>Date </strong>@GetPublication?.CreatedDate</p>
                            <p class="card-text p-2 float-end"><strong>nombre de Réponse </strong>@GetPublication?.post.Count</p>

                        </div>
                    </div>
                </div>
            </section>
            </div>
            <div class="col-md-7 " title="regarder les annonces">
                <h5>Réponses</h5>
                <PostPublicationComponent Id="@Id"></PostPublicationComponent>
            
            </div>

        </div>
    }

@code {
    //peut être transformer ça en composant
    //prendre les post pat
    [Parameter]
    public string? Id { get; set; }
    //public PieceDto GetPublication { get; set; } = new();
    public PublicationDto? GetPublication { get; set; }

    public string Response { get; set; } = string.Empty;
    public string Content { get; set; } = string.Empty;
    //state
    public bool AfficherPost { get; set; } = false;
    public bool DoIWriteAPost { get;set;}=false;
    public int pageIndex { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        await DataLoad();
    }
    public async Task DataLoad()
    {
        GetPublication = await publicationService.GetPublication(Id);
    }
    public async Task GetPost()
    {
        AfficherPost = true;
        await Task.Delay(1000);
    }
    public void RemovePostFromView()
    {   
        AfficherPost = false; 
    }
    public void WriteAPost()
    {
        DoIWriteAPost=!DoIWriteAPost;
    }
    public async Task AddPost(string response)
    {
        AddPostDto postDto = new()
            {
                Content = response,
                PublicationId = Id
            };
        await postService.CreatePost(Id,postDto);
    }
    #region ModelState
    public bool DialogBox { get; set; } = false;
    public void OnOpenDialogBox()
    {
        DoIWriteAPost = true;
        StateHasChanged();
    }
    public async Task CloseDialogBox()
    {
        DoIWriteAPost = false;
        StateHasChanged();
        await DataLoad();
    }
    #endregion
}
