@page "/addPiece/{Id:int}"
@inject Blazor.UI.services.ISalleService ServSalle;
@inject Blazor.UI.services.IComplexeService ServComplexe;
<div class="card m-4 p-4">
    <h3 class="card-title">AddPiece</h3>
   <div class="card-body">
        <form>
            <div class="form-group mb-3 w-50">
                <div>
                    <label class="form-label for="titre">Titre:</label>
                    <input class="form-control" id="titre" @bind="piece.Titre" />
                </div>
               
                <div>
                    <label class="form-label for="duree">Duree:</label>
                    <input class="form-control" id="duree" @bind="piece.Duree" type="number" />
                </div>
              
                <div>
                    <label class="form-label for="description">Description:</label>
                    <textarea class="form-control " id="description" @bind="piece.Description" rows="3">
                    </textarea>
                </div>
              
                <br />
                <div>
                    <button @onclick="AddedPiece">ajouter</button>
                </div>
                
            </div>
        </form>
   </div>
 

</div>


@code {
    [Parameter]
    public int Id { get; set; }

    public SalleDeTheatreDto salle { get; set; }

    public AddPieceDto piece { get; set; } = new AddPieceDto();
    public ComplexeDto Complexe { get; set; }
    protected override async Task OnInitializedAsync()
    {
        salle = await ServSalle.GetById(Id);
        Complexe = await ServComplexe.GetById(salle.ComplexeId);
    }
    public void AddedPiece()
    {
        ServSalle.AddPiece(Id,piece);
    }
}
