@page "/addPiece"
@using Blazor.UI.data.modelViews
@using Blazor.UI.data.services
@using Blazor.UI.data.services.TheatherService
@using Microsoft.AspNetCore.Http

@inject IPieceService pieceService;
@inject IThemeService themeService;
@inject NavigationManager manager;
<div>
 
</div>
<div class="card m-4 p-4">
    <h3 class="card-title">AddPiece</h3>
   <div class="card-body">
        <form>
            <div class="form-group mb-3 w-50">
                <div>
                    <label class="form-label for="titre">Titre:</label>
                    <input class="form-control" id="titre" @bind="piece.Titre" />
                </div>
               
                <div>
                    <label class="form-label for="duree">Duree:</label>
                    <input class="form-control" id="duree" @bind="piece.Duree" type="number" />
                </div>
              
                <div>
                    <label class="form-label for="description">Description:</label>
                    <textarea class="form-control " id="description" @bind="piece.Description" rows="3">
                    </textarea>
                </div>
                <div>
                    <label class="form-label for="auteur">Auteur :</label>
                    <input class="form-control" id="titre" @bind="piece.Auteur" />
                </div>
                <div>
                    <label class="form-label for="File" >Photo :</label>
                    <InputFile type="file"  id="File" OnChange="@setFil"/>
                </div>
                <br />
                <div>
                    <button @onclick="AddPieceToDatabase">ajouter</button>
                </div>
                
            </div>
        </form>
   </div>
 

</div>


@code {
    [Parameter]
    public int Id { get; set; }



    public AddPieceDto piece { get; set; } = new AddPieceDto();
    protected override async Task OnInitializedAsync()
    {

    }
    public void setFil(InputFileChangeEventArgs e)
    {
        piece.ImageFile =(IFormFile) e.File;   
    }
    public void AddPieceToDatabase()
    {
       pieceService.Create(piece);
       manager.NavigateTo("/manager");
    }
}
