
<h3></h3>

@if (piece != null)
{
    <div class="form-group mb-3">
        <label class="form-label" for="titre">Titre:</label>
        <input class="form-control" id="titre" @bind="piece.Titre" />

        <label class="form-label for="duree">Duree:</label>
        <input class="form-control" id="duree" @bind="piece.Duree" type="number" />

        <label class="form-label for="description">Description:</label>
        <input class="form-control" id="description" @bind="piece.Description" />

        <button @onclick="Update">Update Piece</button>
    </div>
}
else
{
    <p>No Piece provided</p>
}

@code {
    [Parameter]
    public PieceDto piece { get; set; }
    [Parameter]
    public SalleDeTheatreDto salle { get; set; }

    public void Update()
    {
        
    }
}
