@using Blazor.UI.Data.ModelViews.Publication

<div class="m-2 p-2">
    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
    <div>
        @if(GetUser !=null)
        {
            <ul class="list-group">
                <li class="list-group-item"><strong>Nom:</strong>@GetUser.GivenName</li>
                <li class="list-group-item"><strong>Nom de Famille:</strong> @GetUser.FamilyName</li>
                <li class="list-group-item"><strong></strong></li>
            
            </ul>

        }
        else
        {
        }
    </div>
</div>

@code {
    [Parameter]
    public UserDto? GetUser { get; set; }
}
