@using Blazor.UI.Data.ModelViews.Publication

<div class="container d-flex justify-content-center align-items-center">
    @if (GetUserDto != null)
    {
            <div class="cardUser">
                <div class="upper">
                    <img src="" class="img-fluid " />
                </div>
            </div>
            <div class="user text-center">
                <div class="profile">
                    <img src="@GetUserDto.Picture" class="rounded-circle" width="80" />
                </div>
            </div>
            <div class="mt-5 text-center">
                <h4 class="mb-0 mt-3">@GetUserDto.UserName</h4>
                <span class="text-muted d-block mb-2">@GetUserDto.Email</span>
                <div class="d-flex justify-content-between align-items-center mt-4 pw-4">
                    <div class="stats">
                        <h6 class="mb-2">Commande</h6>
                        <span>@ComandeNumber</span>
                    </div>
                </div>
            </div>
    }
    else
    {
    
    }
</div>

<style>
    .container {
        height: 100vh;
    }

    .cardUser {
        width: 380px;
        border: none;
        border-radius: 15px;
        padding: 8px;
        background-color: #fff;
        position: relative;
        height: 370px;
    }

    .upper {
        height: 100px;
    }

    .upper img 
    {
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
    }

    .user {
        position: relative;
    }

    .profile img {
        height: 80px;
        width: 80px;
        margin-top: 2px;
    }

    .profile {
        position: absolute;
        top: -50px;
        left: 38%;
        height: 90px;
        width: 90px;
        border: 3px solid #fff;
        border-radius: 50%;
    }

    .follow {
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        height: 35px;
    }

    .stats span {
        font-size: 29px;
    }
</style>
@code {
    [Parameter]
    public UserDto? GetUserDto { get; set; }
    [Parameter]
    public int? ComandeNumber { get; set; }
}
