@page "/details/{Id:int}"
@using Blazor.UI.Data.ModelViews.Theater
@using Blazor.UI.Data.services.TheatherService


@inject IComplexeService comp
@inject ComplexeDto complexedto;
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
<h3>Details for Complexe with Id: @Id</h3>

<div>
    <!-- Fetch and display details based on the provided Id -->

    @if (complexe != null)
    {
        <dl>
            <dt>Id:</dt>
            <dd>@complexe.Id</dd>

            <dt>Name:</dt>
            <dd>@complexe.Name</dd>

            <dt>Description:</dt>
            <dd>@complexe.Description</dd>

            <dt>Capacity:</dt>
            <dd>@complexe?.SalleDeTheatres?.Capacity</dd>
        </dl>
    }
    else
    {
     <Blazor.UI.Client.Shared.Load></Blazor.UI.Client.Shared.Load>
    }
</div>

<button @onclick="GoBack">Go Back</button>

@code {
    private ComplexeDto? complexe;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        complexe = await comp.GetById(Id);
    }
    private void GoBack()
    {
        NavigationManager.NavigateTo("/manager/complexe");
    }
}
