@page "/manager"
@attribute [Authorize(Roles = "Admin")]
@attribute [StreamRendering]
@using Blazor.UI.Client.Page.Comp
@using Blazor.UI.Client.Page
@inject NavigationManager manager;
<div class="bg-light  m-4 p-2 rounded-2 text-center">
    <h3 class="display-4 ">Manager</h3>
    
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a type="button" class="btn btn-primary nav-link text-black" @onclick="() => GetToComplexeSection()">Complexes</a>
    </li>
    <li class ="nav-item">
        <a type="button" class="btn btn-primary nav-link text-black" @onclick="() => GetToPieceSection()">Pieces</a>
    </li>
    <li class="nav-item">
        <a type="button" class="btn btn-primary nav-link text-black" @onclick="() => GetToManagerSection()">Annonce</a>
    </li>
</ul>
<br />
<div class="jumbotron bg-white">
    <div class="text-center p-2 m-2">
        <h3>Bienvenu dans l'espace Administrateur </h3>
        <section>
            cette espace est dédié aux Administrateur pour la gestion des ressource de l'application
        </section>
    </div> 
</div>
<div class="row featurette m-2 p-2 shadow-sm">
            <div class="col-md-7">
                <p class="lead fw-normal lh-1">
                    Fonctionnalité
                   <ul class="list-group list-group-flush">
                       <li class="list-group-item">Ajout de ressource</li>
                       <li class="list-group-item">Mise a jour de ressource</li>
                       <li class="list-group-item">Récupération d'information relative aux ressource</li>
                       <li class="list-group-item">Suppression de ressources</li>
                   </ul>
                </p>
            </div>
            <div class="col-md-5">
               <p class="lead">
                   la Section Manager a pour but de gerer les Ressource de la plateforme

                   <ul class="list-group">
                        <li class="list-group-item">les Complexes</li>
                        <li class ="list-group-item">Gestion des Salles lié au complexe</li>
                        <li class="list-group-item">Gestion des Siege lié au Salle</li>
                        <li class="list-group-item">Gestion des Pièce </li>
                        <li class="list-group-item">Gestion des Piece lié a un catalogue</li>
                        <li class="list-group-item">Gestion des Annonces</li>
                   </ul>
               </p>
            </div>
</div>
@code
{

    public void GetToComplexeSection()
    {
        manager.NavigateTo("manager/complexe");
    }

    public void GetToPieceSection()
    {
        manager.NavigateTo("manager/piece");
    }
    public void GetToManagerSection()
    {
        manager.NavigateTo("/manager/Annonce");
    }
    public void GetToRepresentationSection()
    {
        manager.NavigateTo("manager/representation");
    }

    public void GetToSalleSection()
    {
        manager.NavigateTo("manager/salle");
    }
   
}
