@page "/manager/Piece"

@inject NavigationManager manager;

<h3>PieceManager</h3>
<h4> Piece </h4>

<div class=" btn-group rounded float-end">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <button type="button" class="col col-sm-3  btn btn-primary" @onclick="GetAllPiece">back to profile page</button>
    <button type="button" class="col col-sm-3   btn btn-warning" @onclick="GetHome">backMaineMenu</button>
    <button type="button" class="col col-sm-3   btn btn-warning" @onclick="Previous">back to reservation</button>
</div>
<div>
    <div>
       <Blazor.UI.Client.Page.PiecePage.AddPiece></Blazor.UI.Client.Page.PiecePage.AddPiece>
    </div>
</div>
@code {
    public void GetAllPiece()
    {

    }
    public void GetHome()
    {
        manager.NavigateTo("/");
    }
    public void Previous()
    {
        manager.NavigateTo("/");
    }
}
