@using Blazor.UI.Data.ModelViews.Publication
@using Blazor.UI.Data.services.Publication
@using Blazor.UI.data.services.Publication
@inject IPublicationService postService;

<div class="m-2">
    <h3 class="display-3">ajouter une Critique</h3>
    <div class="row m-2 p-2">
        <form class="form-check">
            <label class="form-label" for="titre">Titre</label>
            <input class="form-control w-50" id="titre" />
            <label class="form-label">Laisser un commentaire</label>
            <textarea class="form-control"
                      @bind="Response"
                      style="width:800px; height:200px;word-wrap:normal border:anywhere" />
            <button type="submit" class="btn btn-dark mt-2" @onclick="() =>AddPost(Response)">Repondre</button>
        </form>
    </div>
</div>
@code {
    [Parameter]
    public int Id { get; set; }
    public string Title { get; set; } = string.Empty;
    public string Response { get; set; } = string.Empty;

    public async Task AddPost(string response)
    {
        AddPublicationDto postDto = new()
            {
                Title=Title,
                Review=response,
                PieceId=Id
            };
        await postService.AddPublication(postDto);
    }
}


