@using Blazor.UI.data.modelViews


<div class="w-25 m-2 shadow">

    <div class="card">
        <div class="card-header">
           Panier
        </div>
        @if (CommandDone != null)
        {
             <div class="card-body">
                <h5 class="card-title">Commande</h5>

                @foreach(var item in CommandDone)
                {
                    <div class="card shadow" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
                            <p class="card-text">@item.NombreDePlace</p>
                            
                        </div>
                    </div>
                }
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div> 
        }
        else
        {
            <Blazor.UI.Client.Shared.Load></Blazor.UI.Client.Shared.Load>
        }
    </div>
  
</div>
@code {
    [Parameter]
    public List<CommandDto>? CommandDone { get; set; }
    
  
    
}
