@inject Blazor.UI.services.IRepresentationService Servrep;
<h3>Add Representation</h3>

@if (representation != null)
{
    <form>
        <div class="form-group">
            <label class="form-label" for="prix">Prix:</label>
            <input class="form-control" id="prix" @bind="representation.Prix" type="number" step="0.01" />

            <label class="form-label" for="seance">Seance:</label>
            <input class="form-control" id="seance" @bind="representation.Seance" type="datetime-local" />

            <label class="form-label" for="idSalleDeTheatre">Salle De Theatre ID:</label>
            <input class="form-control" id="idSalleDeTheatre" @bind="representation.IdSalleDeTheatre" type="number" />

            <label class="form-label" for="idPiece">Piece ID:</label>
            <input class="form-control" id="idPiece" @bind="representation.IdPiece" type="number" />

            <button @onclick="AddRepresentation">Add Representation</button>
        </div>
    </form>
}
else
{
    
}

@code {

    public AddRepresentationDto representation { get; set; }

    private void AddRepresentation()
    {
        Servrep.Create(representation);
    }
}

@code {

}
