@using Blazor.UI.data.modelViews
@using Microsoft.AspNetCore.Components.QuickGrid;


@using Blazor.UI.data.services
<h3>GetAllRepresentation</h3>

@if (getrepresnetation != null)
{
    <div class="m-2 p-2 bg-light rounded">
        <div class="m-2 p-2">
            <QuickGrid Items="@getrepresnetation.AsQueryable()">
                <PropertyColumn Property="@(p => p.Prix)" Sortable="true" Title="Price" />
                <PropertyColumn Property="@(p => p.Seance)" Sortable="true" Title="Seance" />
                <TemplateColumn Title="Selectioner une represnentation">

                    <div>
                        <button type="button" class="btn btn-warning" @onclick="() =>seanceDetails(context)">Details</button>
                    </div>

                </TemplateColumn>
                <TemplateColumn Title="ajouter une represnentation">

                    <div>
                        <button type="button" class="btn btn-warning" @onclick="() =>seanceAdd(context)">Ajout</button>
                    </div>

                </TemplateColumn>
                <TemplateColumn Title="modifier une represnentation">

                    <div>
                        <button type="button" class="btn btn-warning" @onclick="() =>seanceUpdate(context)">Mise a jour</button>
                    </div>

                </TemplateColumn>
                <TemplateColumn Title="modifier une represnentation">

                    <div>
                        <button type="button" class="btn btn-warning" @onclick="() =>seanceDelete(context)">Supprimer</button>
                    </div>

                </TemplateColumn>
                <!-- Add more columns for Commands if needed -->
            </QuickGrid>
            <br />
            @if ( selectRepresnetation != null)
            {
                @if (isDetail)
                {
                    //lorsqque je rajoute 
                    <RepresnetationDetails SelectedItem="selectRepresnetation"></RepresnetationDetails>
                }
                else if (IsAdded)
                {
                    <AddRepresnetation></AddRepresnetation>
                }
                else if (IsUpdate)
                { 
                   <UpdateRepresentation updateRepresentation="selectRepresnetation"></UpdateRepresentation>

                }
                else if (IsDelete)
                {
                  <div>
                      <h3 class="display-3"> are you sure that you wan tot destroy this representation</h3>
                    <RepresnetationDetails SelectedItem="selectRepresnetation"></RepresnetationDetails>
                    <div class="mb-3">
                        <button class="btn btn-warning" type="button">delete </button>
                    </div>

                  </div>
                }
            }
            else
            {
                <Blazor.UI.Client.Shared.Load loadParam="aucune represnetation n'a été slectionner'"></Blazor.UI.Client.Shared.Load>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<RepresentationDto> getrepresnetation { get; set; }

    public RepresentationDto selectRepresnetation { get; set; } = new RepresentationDto();

    public bool isDetail { get; set; } = true;
    public bool IsAdded { get; set; } = false;
    public bool IsUpdate { get; set; } = false;
    public bool IsDelete { get; set; } = false;

    public void seanceDetails(RepresentationDto item)
    {
        selectRepresnetation = item;
        isDetail = true;
        IsAdded  = false;
        IsUpdate = false;
        IsDelete = false;
    }
    public void seanceUpdate(RepresentationDto item)
    {
        selectRepresnetation = item;
        isDetail = false;
        IsAdded = false;
        IsUpdate = true;
        IsDelete = false;
    }

    public void seanceDelete(RepresentationDto item)
    {
         selectRepresnetation = item;
        isDetail = false;
        IsAdded = false;
        IsUpdate = false;
        IsDelete = true;
    }
    
    public void seanceAdd(RepresentationDto item)
    {
         selectRepresnetation = item;
        isDetail = false;
        IsAdded = true;
        IsUpdate = false;
        IsDelete = false;
    }
}
