@inject Microsoft.AspNetCore.Components.NavigationManager manager;
<div class="text-md-start">
    <div class="col bg-light rounded">
        <div class="m-2 p-2">
            <div class="card">
                <div class="card-header">
                    <p class="lead">Detail Representation</p>
                </div>
               <div class="card-body">
                    <div>
                        <p><strong>nombre de place:</strong>@PlaceCommand</p>
                    </div>
                    <div>
                        <p><strong>Date :</strong>@SelectedItem.Seance.Date.Year/@SelectedItem.Seance.Date.Month/@SelectedItem.Seance.Date.Day</p>
                        <p><strong>heure:</strong>@SelectedItem.Seance.Hour:@SelectedItem.Seance.Minute </p>
                        
                    </div>
                    <div>
                        <p><strong>Prix:</strong>@SelectedItem.Prix</p>
                    </div>
               </div>
               <div class="Card-footer m-2">
                   <button class="btn btn-warning shadow" @onclick="() =>getinfo(SelectedItem.IdPiece)">Info</button>
               </div>
            </div>
        </div>  
       
    </div>
</div>
  
@code {
    [Parameter]
    public RepresentationDto SelectedItem {get;set;}
    [Parameter]
    public int PlaceCommand {get;set;}

    public void getinfo(int id)
    {
        manager.NavigateTo($"/pieceinfo/{id}");
    }

}
