@inject Blazor.UI.services.IRepresentationService Servrep;
<h3>Update Representation</h3>

@if (updateRepresentation != null)
{
    <div>
        <label for="prix">Prix:</label>
        <input id="prix" @bind="updateRepresentation.Prix" type="number" step="0.01" />

        <label for="seance">Seance:</label>
        <input id="seance" @bind="updateRepresentation.Seance" type="datetime-local" />

        <label for="idSalleDeTheatre">Salle De Theatre ID:</label>
        <input id="idSalleDeTheatre" @bind="updateRepresentation.IdSalleDeTheatre" type="number" />

        <label for="idPiece">Piece ID:</label>
        <input id="idPiece" @bind="updateRepresentation.IdPiece" type="number" />

        <button @onclick="Update">Update Representation</button>
    </div>
}
else
{
    <p>No UpdateRepresentationDto provided</p>
}

@code {
    [Parameter]
    public RepresentationDto updateRepresentation { get; set; }

    public async Task Update()
    {
        UpdateRepresentationDto items = new UpdateRepresentationDto
        {
                Prix = updateRepresentation.Prix,
                Seance = updateRepresentation.Seance,
                IdSalleDeTheatre = updateRepresentation.IdSalleDeTheatre,
                IdPiece = updateRepresentation.IdPiece
        };
        await Servrep.Update(items);
    }
}
