@page "/manager/updatePiece"
<h3>UpdatePiece</h3>
<div class=" m-4 p-4">
    <div class=" btn-group rounded float-end">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <button type="button" class="col col-sm-3  btn btn-primary" @onclick="GetAllPiece">back to profile page</button>
        <button type="button" class="col col-sm-3   btn btn-warning" @onclick="GetHome">backMaineMenu</button>
        <button type="button" class="col col-sm-3   btn btn-warning" @onclick="Previous">back to reservation</button>
    </div>
</div>
<div>

</div>

@code {
    private Task GetAllPiece(MouseEventArgs e)
    {
        throw new NotImplementedException();
    }
    private Task GetHome(MouseEventArgs e)
    {
        throw new NotImplementedException();
    }
    private void Previous(MouseEventArgs e)
    {
        throw new NotImplementedException();
    }
}
