<div class="m-2 p-2 shadow-sm">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">First featurette heading. 
                <span class="text-body-secondary">It’ll blow your mind.</span></h2>
            <p class="lead">
               @getString
            </p>
        </div>
        <div class="col-md-5">
          <img class="img-fluid" src="Image/StockCake-Theatre stage setup_1728574221.jpg" />
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string getString { get; set; } = "some palce holder i guess";
}
