@page "/"

<PageTitle>Home</PageTitle>
<br />
<div class="jumbotron bg-light p-4 rounded-3">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">Bienvenu sur theatre.com</p>
    <hr class="my-4">
    <p>pour faire une reservation en fonction d'une pièce ou depuis un complexe appuyez sur les bouton en bas</p>
    <p class="lead">
        <div>
            <h5>reservation</h5>
           <a type="button" class="btn btn-warning" href="reservation"> Reservation</a>
        </div>
       
    </p>
</div>