@page "/"

<PageTitle>Home</PageTitle>
<br />
<div class="jumbotron bg-light p-4 rounded-3 text-lg-center">
    <h1 class="display-4">Toi qui entre en ce lieu,Abandonne tout espoire</h1>
    <p class="lead">Bienvenu sur theatre.com</p>
    <hr class="my-4">
    <p>pour faire une reservation en fonction d'une pièce ou depuis un complexe appuyez sur les bouton en bas</p>
    <div class="p-4 m-4 rounded">
        <img class=" img-thumbnail rounded-3 w-50 h-50" src="/images/image_processing20191110-10396-o8clav.gif" />
    </div>
    <p class="lead">
        <div>
            <h5>Presentation</h5>
                <section class="m-4 p-4">
                    Découvrez l'univers captivant du théâtre à travers notre site web ! 
                    Plongez dans un monde où les mots se transforment 
                    en émotions, où les histoires prennent vie sur scène. 
                    Explorez nos productions, des classiques intemporels aux créations 
                    contemporaines, et laissez-vous emporter par la magie du spectacle vivant. 
                    Rejoignez-nous pour une expérience théâtrale 
                    inoubliable, où chaque représentation est une invitation à l'émerveillement et à la réflexion.
                    Bienvenue dans l'univers envoûtant
                    du théâtre, où chaque rideau qui se lève est une promesse de découvertes et d'émotions partagées.
                </section>
        </div>
        <div class="align-content-center">
            <br />
            <h5>Reservation</h5>
           <a type="button" class="btn btn-warning" href="reservation"> Reservation</a>
        </div>
       
    </p>
</div>