@page "/"
@using Blazor.UI.Data.ServiceResult
@using Blazor.UI.Data.services.Annonce
@using Blazor.UI.Data.ModelViews.Annonce

@inject IAnnonceService AnnonceService;
<div class ="flex-fill"> 
    <PageTitle>Home</PageTitle>
   <div class="container-fluid h-75 w-75">

        <CarouselHomeComponent ></CarouselHomeComponent>
   </div>

    <br />
    <div class="bg-white m-2 p-2 rounded">
        <div class="row featurette m-2 p-2 shadow-sm">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">
                    First featurette heading.
                    <span class="text-body-secondary">It’ll blow your mind.</span>
                </h2>
                <p class="lead">
                        Découvrez l'univers captivant du théâtre à travers notre site web !
                        Plongez dans un monde où les mots se transforment
                        en émotions, où les histoires prennent vie sur scène.
                        Explorez nos productions, des classiques intemporels aux créations
                        contemporaines, et laissez-vous emporter par la magie du spectacle vivant.
                        Rejoignez-nous pour une expérience théâtrale
                        inoubliable, où chaque représentation est une invitation à l'émerveillement et à la réflexion.
                        Bienvenue dans l'univers envoûtant
                        du théâtre, où chaque rideau qui se lève est une promesse de découvertes et d'émotions partagées.
                  
                    <div class="align-content-center">
                        <br />
                        <h5>Reservation</h5>
                        <a type="button" class="btn btn-warning" href="reservation"> Reservation</a>
                    </div>
                </p>
            </div>
            <div class="col-md-5">
             <img class="img-fluid" src="/Image/StockCake-Solo Stage Performance_1728574260.jpg" />
            </div>
        </div>
        <Blazor.UI.Pages.Annonce.AnnonceComponent>

        </Blazor.UI.Pages.Annonce.AnnonceComponent>
        <Blazor.UI.Pages.TextComponent.TextComponent>
        </Blazor.UI.Pages.TextComponent.TextComponent>
    </div>
</div>

@code{
    //public Pagination<AnnonceDto>? GetAnnonceDto { get; set; }
    public int pageIndex { get; set; } = 1;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
    #region pagination
    /*
     * 
        public async Task NextPage()
        {
            if ( GetAnnonceDto.HasNextPage)
            {
                pageIndex++;
                GetAnnonceDto = await AnnonceService.GetAll(pageIndex);
            }
        }
        public async Task PreviousPage()
        {
            if (GetAnnonceDto.HasPreviousPage)
            {
                pageIndex--;
                GetAnnonceDto = await AnnonceService.GetAll(pageIndex);
            }
        }
     */
    #endregion
}