@using Blazor.UI.Data.ModelViews.Publication
@using Blazor.UI.data.services.Publication

@inject IPostService postService;

<div class="row featurette shadow">
    <div class="col-md-5">
        <GetUserComponent UserId="@Item.UserId"></GetUserComponent>
    </div>
    <div class="col-md-7 " title="regarder les annonces">
        <h3 class="ms-2 mb-0 text-start"><strong>Reponse :</strong></h3>
        <section class="mt-2 mb-2">
            <p class="ps-2 pt-4 pb-2 text-body-secondary lead">@Item.Content</p>
            <p class="ps-2 bottom blog-post-meta text-end">@Item.CreatedDate</p>
        </section>
    </div>

</div>
@code {
    [Parameter]
    public PostDto Item { get; set; }
    public bool IsAuthor {get;set;}

    protected override async Task OnInitializedAsync()
    {
        IsAuthor = await postService.IsAuthor(Item.Id);
    }
}
