<h3 class="">Home works!</h3>

<div class="row">
    <div class="col float-start">
      <p>bienvenue sur theatre.com </p>
      <p>si vous desirez reserver un billet cest ici</p>
    </div>
    <div class="col float-center">
      <div class="col "></div>
      <div class="col ">
      </div>
    </div>
</div>
<div class="row"> <br></div>
  <div class="row">
    <p class="col float-center">liste des complexes avec lesquels nous sommes affiliée</p>
    <div class="col ">
      <app-list-complexe></app-list-complexe>
    </div>

  </div>
