<footer class="bg-dark text-white text-md-center row ">
    <h3 class="text-white"></h3>
    <div class="row m-1 p-1">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <h4>Contact</h4>
            <p><strong>Address</strong></p> 
            <p><strong>Numero</strong></p> 
            <p><strong>Fax</strong></p>
        </div>
        <div class="col">
            <h4>Réseau</h4>
            <p><strong>Address</strong><a href="#"></a></p>
            <p><strong>Instagram</strong><a></a></p>
            <p><strong>Facebook</strong><a href="#"></a></p>
        </div>
    </div>
</footer>

@code {

}
