@page "/manager/addcatalogue"

@using Blazor.UI.Data.modelViews.Theater
@using Blazor.UI.Data.services.TheatherService


@inject IComplexeService ComplexeService;
@inject ICatalogueService CatalogeService;


<div class="flex-fill m-4">
    <div class="row">

        <div class="card m-2">
            <form class="">
                <h3 class="card-header"> Ajouter un catalogue </h3>
                <div class="form-group mb-3 card-body w-50">

                    <div>
                        <label class="form-label" for="name">Name :</label>
                        <input class="form-control " id="name" @bind-value="@selectCatalogue.Name" />
                    </div>
                    <div>
                        <label class="form-label" for="description">Description : </label>
                        <textarea class="form-control" id="description" @bind="selectCatalogue.Description" rows="3">
                        </textarea>
                    </div>
                    <div>
                        <label class="form-label" for="complexe">Complexe</label>
                        <select class="form-control" @bind="SelectedComplexeId" @oninput="OnSelectedChange">
                            <option value="value">text</option>
                            @foreach (var item in GetAllComplexe)
                            {
                                <option value="@item.Id">@item.Name</option>

                            }
                        </select>
                    </div>
              
                    <div class="p-2">
                        <button type="submit" class="btn btn-warning btn" @onclick="() => AddNewCatalogue()">Ajouter le catalogue </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>
@code {
    public CatalogueDto selectCatalogue { get; set; } = new();

    public List<ComplexeDto> GetAllComplexe { get; set; }
    public int SelectedComplexeId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        GetAllComplexe = (await ComplexeService.Get()).ToList();
    }
    public void OnSelectedChange(ChangeEventArgs args)
    {

        if (int.TryParse(args.Value?.ToString(), out int selectedId))
        {
            SelectedComplexeId = selectedId;
        }
    }
    public async Task AddNewCatalogue()
    {
        selectCatalogue.ComplexeId = SelectedComplexeId;
        await CatalogeService.AddCatalogue(selectCatalogue);
    }
}
