<h3 class="display-4">Edit SalleDeTheatre</h3>

@if (salleDeTheatre != null)
{
    <div class="col-form-label">
        <label class="form-label" for="name">Name:</label>
        <input class="formcontrol" id="name" @bind="salleDeTheatre.Name" />

        <label class="form-label" for="placeMax">Place Max:</label>
        <input class="form-control" id="placeMax" @bind="salleDeTheatre.PlaceMax" type="number" />

        <label class="form-label" for="placeCurrent">Place Current:</label>
        <input class="form-control" id="placeCurrent" @bind="salleDeTheatre.PlaceCurrent" type="number" />

        <label class="form-label" for="complexeId">Complexe ID:</label>
        <input class="form-control" id="complexeId" @bind="salleDeTheatre.ComplexeId" type="number" />

        <button type="button" class="btn btn-success" @onclick="UpdateSalleDeTheatre">Update SalleDeTheatre</button>
    </div>
}
else
{
    <p>No SalleDeTheatre provided</p>
}

@code {
    [Parameter]
    public SalleDeTheatreDto salleDeTheatre { get; set; }

    private void UpdateSalleDeTheatre()
    {
        UpdateSalleDeTheatreDto update = new UpdateSalleDeTheatreDto
        {
                Id = salleDeTheatre.Id,
                Name = salleDeTheatre.Name,
            ComplexeId=salleDeTheatre.ComplexeId,
                PlaceCurrent = salleDeTheatre.PlaceCurrent,
                PlaceMax = salleDeTheatre.PlaceMax,
                AddedTime = salleDeTheatre.AddedTime,
            
        }; 
    }
}
