@using Blazor.UI.Client.Shared
@using Blazor.UI.data.modelViews
@using Blazor.UI.data.services
<h3 class="display-5 p-2 m-2">Details:</h3>

@if (SelectedSalleDeTheatre != null)
{
    <div class="m-2 p-2 border border-solid">
        <div class="m-2 p-2">
            <p><strong>Name:</strong> @SelectedSalleDeTheatre.Name</p>
            <p><strong>Place Max:</strong> @SelectedSalleDeTheatre.PlaceMax</p>
            <p><strong>Complexe ID:</strong> @SelectedSalleDeTheatre.ComplexeId</p>
            <p><strong>reservation Number</strong> @SelectedSalleDeTheatre.Representations.Count</p>
        </div>          
    </div>
}
else
{
    <p>No Salle De Theatre selected</p>
}

@code {
    [Parameter]
    public SalleDeTheatreDto SelectedSalleDeTheatre { get; set; }
    public IEnumerable<RepresentationDto> representationDto { get; set; }

    protected  void OnInitilized() => representationDto = SelectedSalleDeTheatre.Representations;
}